@import "tailwindcss";

/* =========================
   CSS Reset
========================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   HTML
========================= */

html {
  scroll-behavior: smooth;
}

/* =========================
   Body
========================= */

body {
  font-family: "Inter", sans-serif;
  background: #080b19;
  color: #ffffff;
  overflow-x: hidden;
  min-height: 100vh;
}

/* =========================
   Root
========================= */

#root {
  width: 100%;
  min-height: 100vh;
}

/* =========================
   Images
========================= */

img {
  display: block;
  max-width: 100%;
}

/* =========================
   Links
========================= */

a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   Buttons
========================= */

button {
  font-family: inherit;
  cursor: pointer;
}

/* =========================
   Selection
========================= */

::selection {
  background: #4f46e5;
  color: white;
}